.loginpage{
  background-image:url('src/assets/login.jpg');
  height:40em; background-size: cover; width:auto; height: 800px;
  background-position:10% 15%;

}

.xyz{
  height: 770px;
}

.abc{
  padding-top: 40%;
}

.card{
  /* border:1px dotted black; */
  /* margin: 100px 475px; */
  width: 500px;
  text-align: center;
}

mat-form-field{
  width: 80%;
}
button{
  width: 40%;
}
